<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunyang.demobackend.dao.FollowMapper">

    <insert id="insertFollow" parameterType="com.chunyang.demobackend.entity.FollowEntity">
        INSERT INTO follow (follower_id, followed_id)
        VALUES (#{followerId}, #{followedId})
    </insert>

    <delete id="deleteFollowById" parameterType="Integer">
        DELETE FROM follow WHERE id = #{id}
    </delete>

    <update id="updateFollow" parameterType="com.chunyang.demobackend.entity.FollowEntity">
        UPDATE follow SET follower_id = #{followerId}, followed_id = #{followedId}
        WHERE id = #{id}
    </update>

    <select id="getFollowById" parameterType="Integer" resultType="com.chunyang.demobackend.entity.FollowEntity">
        SELECT * FROM follow WHERE id = #{id}
    </select>

    <select id="getAllFollows" resultType="com.chunyang.demobackend.entity.FollowEntity">
        SELECT * FROM follow
    </select>
</mapper>